[submodule "cliente/src/model/firestore"]
	path = cliente/src/model/firestore
	url = https://github.com/lsoaresesilva/angularfire-document-mapper.git
[submodule "admin/src/app/models/firestore"]
	path = admin/src/app/models/firestore
	url = https://github.com/lsoaresesilva/angularfire-document-mapper.git
