<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-1">Nome</div>
  <div class="p-col-5"><input type="text" pInputText [(ngModel)]="cliente.nome"/></div>
  <div class="p-col-2"></div>
</div>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-1">Telefone</div>
  <div class="p-col-5"><input type="text" pInputText [(ngModel)]="cliente.telefone"/></div>
  <div class="p-col-2"></div>
</div>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-1">E-mail</div>
  <div class="p-col-5"><input type="text" pInputText [(ngModel)]="cliente.email"/></div>
  <div class="p-col-2"></div>
</div>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-6"><p-button label="Salvar" (click)="salvar()"></p-button></div>
  <div class="p-col-2"></div>
</div>